body {
    height: 300px;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
}

.rastro {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: teal;
    pointer-events: none;
}