* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif; /* Fonte similar à da imagem */
}

body {
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #cccccc;
    padding: 5px;
}

.principal {
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    padding: 35px 10px 10px 10px; /* Espaço superior para o texto "Principal" */
    display: flex;
    gap: 10px;
    position: relative;
}

.label-principal {
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.conteudo {
    width: 250px;
    height: 100%;
    background-color: #cccccc;
    color: black;
    padding: 10px;
}

.lista-branca {
    background-color: white;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    line-height: 1.4;
}

.direita {
    flex-grow: 1;
    height: 100%;
    background-color: #cccccc;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.imagem-branca {
    background-color: white;
    width: 100%;
    flex-grow: 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    width: 100%;
    height: 100px;
    background-color: #cccccc;
    padding: 5px;
}